
class {
    onCreate() {
        this.state = {
            board:[]
        };
    }
}

<div.board>
  <cell value="O" />
  <cell value="O" />
  <cell value="O" />
  <cell value="X" />
  <cell value="X" />
  <cell value="X" />
  <cell value="X" />
  <cell value="X" />
  <cell value="O" />
</div>
